
.formulaire
{
   width: 400px;
   height: 400px;
  float: right;
  margin-top: 200px;
  margin-right: 100px;
  padding-top: 10px;
  padding-left: 50px;
  border: 1px solid white;
}
label
{
  display: block;
 /* margin-left: 40px; */
  
}
.valider
{
border-radius: 10%;
margin-top: 15px;
}

input
{
  width: 300px;
}

p
{
  font-size: 50px;
  color: white;
}